.form {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.question {
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  resize: none;
}

.answer {
  width: 48%;
  padding: 10px;
}

.wrapper__btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  padding: 0 20px;
}
